<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneClick_Attendance"
        tools:targetApi="31" >
        <activity
            android:name=".Activities.DetectionResultActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.kotlin.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AttendanceResultActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NewLectureActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".Activities.kotlin.NewSectionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.kotlin.SectionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignInActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>